@import "../../.local/share/themes/matugen/waybar.css";

* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 14px;
}

.modules-left {
    padding: 4px;
    margin: 0 0 0 0;
    border-radius: 0px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
    padding: 4px;
    margin: 0 0 0 0;
    border-radius: 0px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.modules-right {
    padding: 4px;
    margin: 0 0 0 0;
    border-radius: 0px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
/* Uncomment this if you want to make waybar round
window#waybar {
    all: unset;
}
.modules-left {
    padding: 7px;
    margin: 10 0 2 10;
    border-radius: 10px; 
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
    padding: 7px;
    margin: 10 0 2 0;
    border-radius: 10px; 
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
    padding: 7px;
    margin: 10 10 2 0;
    border-radius: 10px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
*/

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@secondary, 0.2);
    transition: all 0.2s ease;
}
#workspaces button:hover {
    color: alpha(@secondary, 0.8);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @inverse_primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
    color: alpha(@background, 0.4);
    border: none;
    text-shadow: none;
}
#workspaces button.empty:hover {
    color: @inverse_primary;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @source_color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

tooltip {
    background: @background;
    color: @foreground;
    font-size: 10px;
}

#clock:hover,
#idle_inhibitor:hover,
#tray:hover,
#custom-terminal:hover,
#memory:hover,
#power-profiles-daemon:hover, 
#custom-notification:hover,
#custom-brightness:hover,
#backlight:hover,
#wireplumber:hover,
#custom-exit:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#pulseaudio:hover {
    transition: all 0.3s ease;
    color: @source_color;
}


#custom-brightness,
#tray,
#memory,
#custom-exit,
#network,
#backlight,
#battery,
#cpu,
#pulseaudio {
    padding: 0px 10px;
    transition: all 0.3s ease;
    color: @foreground;
}

#wireplumber {
    padding: 0px 12px 0px 8px;
    transition: all 0.3s ease;
    color: @foreground;
}

#backlight{
    padding: 0px 6px 0px 12px;
    transition: all 0.3s ease;
    color: @foreground;
}

#custom-notification {
    padding: 0px 12px 0px 6px;
    transition: all 0.3s ease;
    color: @foreground;
}

#bluetooth {
    padding: 0px 6px 0 12px;
    transition: all 0.3s ease;
    color: @foreground;
}

#custom-terminal {
    padding: 0px 16px 0 8px;
    transition: all 0.3s ease;
    color: @foreground;
}

#power-profiles-daemon {
    padding: 0px 8px 0px 6px;
    transition: all 0.3s ease;
    color: @foreground;
}

#idle_inhibitor {
    padding: 0px 12px 0 10px;
    transition: all 0.3s ease;
    color: @foreground;
}

#custom-line {
  padding: 0 2px;
}

#clock {
    padding: 0px 10px;
    transition: all 0.3s ease;
    color: @foreground;
}

#battery.charging {
    color: #26a65b;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#group-rightexpander {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: alpha(@foreground, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

#custom-expandright {
    padding: 0px 5px;
    color: alpha(@foreground, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

#custom-expand:hover {
    color: alpha(@foreground, 0.8);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#custom-expandright:hover {
    color: alpha(@foreground, 0.8);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

