@import url('../../.local/share/themes/matugen/wlogout.css');
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}
button {
    font-family: 'CaskaydiaMono Nerd Font Mono';
    background-color: alpha(@secondary_container,0.8);
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#lock {
    background-image: image(url("../../.config/wlogout/lock.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#shutdown {
    background-image: image(url("../../.config/wlogout/power.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#logout {
    background-image: image(url("../../.config/wlogout/logout.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#reboot {

    background-image: image(url("../../.config/wlogout/restart.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#lock:focus {
    margin : 5px 5px 5px 300px;

}
#shutdown:focus {
    margin : 5px 300px 5px 5px;
}
#logout:focus {
    margin : 5px 300px 5px 5px;
}
#reboot:focus {
    margin : 5px 5px 5px 300px;
}
button:focus, button:hover {
    background-color: alpha(@primary_container,1);
    color: #000000;
    background-position:center;
}
